* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
.container {
  padding: 0 90px;
}
nav {
  height: 80px;
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
  z-index: 3;
  position: relative;
}

.logo > h2 {
  font-family: "Montserrat", sans-serif;
}
.menu {
  display: flex;
}

.menu > li {
  margin-left: 20px;
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 992px) {
  .menu {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  .container {
    padding: 0 20px;
  }
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url("./images/bg2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: white;
}

.hero::after {
  content: "";
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(101, 228, 76, 0.226);
  z-index: 0;
}

.hero > * {
  z-index: 100;
}

.content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  min-height: 200px;
}

.content > h1 {
  font-size: 4.5rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0;
}
.content > h1 > span {
  color: green;
}

.content > p {
  font-size: 1.4rem;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 20px;
}

.cta {
  background: rgb(25, 253, 25);
  display: inline-block;
  padding: 10px 30px;
  text-align: center;
  color: white;
  transition: 0.2s ease-in;
}
/* .cta > a {
  color: white;
} */

.cta:hover {
  background: white;
}

.scroll {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

@media screen and (max-width: 992px) {
  .content > h1 {
    font-size: 2.7rem;
  }

  .content > p {
    font-size: 1rem;
    max-width: 250px;
  }

  .cta {
    padding: 5px 20px;
  }
}
